html {
  --font-color: #d2d2d2;
  --background-color: #101214;
  --separator-color: #3e4852;
}

:root {
  font: menu;
  font-size: 42pt;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 0;
  min-height: 100vh;
  overscroll-behavior: contain;
  padding: 0;
}

main {
  display: block;
  padding-top: 220px;
}

main::before {
  background: url('/img/rummikub.png');
  background-size: contain;
  border-radius: 32px;
  content: '';
  display: block;
  height: 148px;
  margin: auto;
  margin-bottom: 120px;
  width: 580px;
}

button,
input  {
  border: 5px solid var(--separator-color);
  border-radius: 16px;
  display: block;
  margin: 64px auto 0 auto;
  min-width: 580px;
  padding: 24px 40px;
}

button {
  background-color: #20262b;
  color: var(--font-color);
  font-size: 42pt;
}

input {
  font-size: 36px;
  height: 42pt;
  line-height: 42pt;
}

input::-webkit-input-placeholder {
  color: #aaa;
}

.error {
  color: red;
  display: block;
  margin: 120px auto 0 auto;
  text-align: center;
}

form {
  display: block;
  margin: 0 auto;
  padding: 0;
}

form button {
  margin-top: 120px;
}
